In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
credit_train = pd.read_csv('C:\\Users\\monte\\Downloads\\credit_scoring\\credit_train.csv\\credit_train.csv')
credit_train

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35,0,229976,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9,0,256329,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15,0,253460,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,2da51983-cfef-4b8f-a733-5dfaf69e9281,Fully Paid,147070,Short Term,725.0,475437.0,7 years,Own Home,other,2202.86,22.3,NaN,5,0,47766,658548.0,0.0,0.0
99996,06eba04f-58fc-424a-b666-ed72aa008900,77f2252a-b7d1-4b07-a746-1202a8304290,Fully Paid,99999999,Short Term,732.0,1289416.0,1 year,Rent,Debt Consolidation,13109.05,9.4,21.0,22,0,153045,509234.0,0.0,0.0
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,2ced5f10-bd60-4a11-9134-cadce4e7b0a3,Fully Paid,103136,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12,1,109554,537548.0,1.0,0.0
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,3e45ffda-99fd-4cfc-b8b8-446f4a505f36,Fully Paid,530332,Short Term,746.0,1717524.0,9 years,Rent,Debt Consolidation,9890.07,15.0,NaN,8,0,404225,738254.0,0.0,0.0
99999,c63916c6-6d46-47a9-949a-51d09af4414f,1b3014be-5c07-4d41-abe7-44573c375886,Fully Paid,99999999,Short Term,743.0,935180.0,NaN,Own Home,Debt Consolidation,9118.10,13.0,NaN,4,1,45600,91014.0,1.0,0.0

In [3]:
credit_train = credit_train.drop_duplicates(['Loan ID','Customer ID'])

In [4]:
credit_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81999 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       81999 non-null  object
 1   Customer ID                   81999 non-null  object
 2   Loan Status                   81999 non-null  object
 3   Current Loan Amount           81999 non-null  int64
 4   Term                          81999 non-null  object
 5   Credit Score                  64968 non-null  float64
 6   Annual Income                 64968 non-null  float64
 7   Years in current job          78491 non-null  object
 8   Home Ownership                81999 non-null  object
 9   Purpose                       81999 non-null  object
 10  Monthly Debt                  81999 non-null  float64
 11  Years of Credit History       81999 non-null  float64
 12  Months since last delinquent  37378 non-null  float64
 13  Number of Open Accounts       81999 non-null  int64
 14  Number of Credit Problems     81999 non-null  int64
 15  Current Credit Balance        81999 non-null  int64
 16  Maximum Open Credit           81997 non-null  float64
 17  Bankruptcies                  81824 non-null  float64
 18  Tax Liens                     81991 non-null  float64
dtypes: float64(8), int64(4), object(7)
memory usage: 12.5+ MB

In [5]:
credit_train = credit_train.rename(columns = {'Loan ID':'Loan_ID','Customer ID':'Customer_ID','Loan Status':'Loan_Status',
                                              'Current Loan Amount':'Current_Loan_Amount','Credit Score':'Credit_Score',
                                              'Annual Income':'Annual_Income','Years in current job':'Years_in_current_job',
                                              'Home Ownership':'Home_Ownership','Monthly Debt':'Monthly_Debt',
                                              'Years of Credit History':'Years_of_Credit_History',
                                              'Months since last delinquent':'Months_since_last_delinquent',
                                              'Number of Open Accounts':'Number_of_Open_Accounts',
                                              'Number of Credit Problems':'Number_of_Credit_Problems',
                                              'Current Credit Balance':'Current_Credit_Balance',
                                              'Maximum Open Credit':'Maximum_Open_Credit','Tax Liens':'Tax_Liens'})

In [6]:
credit_train.loc[credit_train.Current_Loan_Amount > 1000000, 'Current_Loan_Amount'] = credit_train.Current_Loan_Amount.median()

credit_train.loc[credit_train.Credit_Score > 3000, 'Credit_Score'] = credit_train.Credit_Score.median()

credit_train.loc[credit_train.Annual_Income > 400000, 'Annual_Income'] = credit_train.Annual_Income.median()

In [7]:
credit_train.loc[credit_train.Current_Credit_Balance > 10000000, 'Current_Credit_Balance'] = 10000000

credit_train.loc[credit_train.Maximum_Open_Credit > 150000000, 'Maximum_Open_Credit'] = credit_train.Maximum_Open_Credit.median()

In [8]:
credit_train.isnull().sum()

Loan_ID                             0
Customer_ID                         0
Loan_Status                         0
Current_Loan_Amount                 0
Term                                0
Credit_Score                    17031
Annual_Income                   17031
Years_in_current_job             3508
Home_Ownership                      0
Purpose                             0
Monthly_Debt                        0
Years_of_Credit_History             0
Months_since_last_delinquent    44621
Number_of_Open_Accounts             0
Number_of_Credit_Problems           0
Current_Credit_Balance              0
Maximum_Open_Credit                 2
Bankruptcies                      175
Tax_Liens                           8
dtype: int64

In [9]:
credit_train.Annual_Income = credit_train.Annual_Income.fillna(credit_train.Annual_Income.median())
credit_train.Credit_Score = credit_train.Credit_Score.fillna(credit_train.Credit_Score.median())
credit_train.Maximum_Open_Credit = credit_train.Maximum_Open_Credit.fillna(credit_train.Maximum_Open_Credit.median())

In [10]:
credit_train.Years_in_current_job = credit_train.Years_in_current_job.fillna(-100)
credit_train.Months_since_last_delinquent = credit_train.Months_since_last_delinquent.fillna(-100)
credit_train.Bankruptcies = credit_train.Bankruptcies.fillna(-100)
credit_train.Tax_Liens = credit_train.Tax_Liens.fillna(-100)

In [11]:
X_train = credit_train.drop(['Loan_ID', 'Customer_ID','Loan_Status'], axis = 1)
y_train = credit_train.Loan_Status

In [12]:
X_train = pd.get_dummies(X_train)

In [14]:
X_train

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,445412,709.0,1169592.5,5214.74,17.2,-100.0,6,1,228190,416746.0,...,0,0,0,0,0,0,0,0,0,0
1,262328,731.0,1169592.5,33295.98,21.1,8.0,35,0,229976,850784.0,...,0,0,0,0,0,0,0,0,0,0
2,307780,741.0,1169592.5,29200.53,14.9,29.0,18,1,297996,750090.0,...,0,0,0,0,0,0,0,0,0,0
3,347666,721.0,1169592.5,8741.90,12.0,-100.0,9,0,256329,386958.0,...,0,0,0,0,0,0,0,0,0,0
4,176220,731.0,1169592.5,20639.70,6.1,-100.0,15,0,253460,427174.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99990,307780,742.0,1169592.5,11969.81,20.1,16.0,9,0,37392,134442.0,...,0,0,0,0,0,1,0,0,0,0
99996,307780,732.0,1169592.5,13109.05,9.4,21.0,22,0,153045,509234.0,...,0,0,0,0,0,0,0,0,0,0
99997,103136,742.0,1169592.5,7315.57,18.8,18.0,12,1,109554,537548.0,...,0,0,0,0,0,0,0,0,0,0
99998,530332,746.0,1169592.5,9890.07,15.0,-100.0,8,0,404225,738254.0,...,0,0,0,0,0,0,0,0,0,0
99999,307780,743.0,1169592.5,9118.10,13.0,-100.0,4,1,45600,91014.0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
clf = RandomForestClassifier(random_state=123)

In [1]:
params = {'criterion': ['gini','entropy'],
          'min_samples_split': [10,50,100],
          'max_leaf_nodes' : [128,256,512],
          'n_estimators': [250,500,1000]}

In [24]:
searcher = RandomizedSearchCV(clf, params, cv = 5, n_iter = 5, scoring = 'accuracy')

In [25]:
searcher.fit(X_train,y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=123),
                   n_iter=5,
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_leaf_nodes': [128, 256, 512],
                                        'min_samples_split': [10, 50, 100],
                                        'n_estimators': [250, 500, 1000]},
                   scoring='accuracy')

In [26]:
searcher.best_params_

{'n_estimators': 1000,
 'min_samples_split': 50,
 'max_leaf_nodes': 512,
 'criterion': 'entropy'}

In [27]:
clf1 = searcher.best_estimator_

In [28]:
clf1.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', max_leaf_nodes=512,
                       min_samples_split=50, n_estimators=1000,
                       random_state=123)

In [29]:
clf1.score(X_train,y_train)

0.7509603775655801

In [76]:
credit_test = pd.read_csv('C:\\Users\\monte\\Downloads\\credit_scoring\\credit_test.csv\\credit_test.csv')

In [56]:
credit_test

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9,0,621908,1058970,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11,0,679573,904442,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10,0,38532,388036,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16,1,156940,531322,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14,0,359765,468072,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,c4ab66f9-833c-43b8-879c-4f8bcb64dd14,8ee2002b-8fb6-4af0-ab74-25a1c23e7647,157806,Short Term,731.0,1514376.0,6 years,Rent,Debt Consolidation,4795.41,12.5,NaN,9,0,87058,234410,0.0,0.0
9996,bbd3a392-01b4-4e0e-9c28-b2a4a39beac7,6c306306-f5c2-4db5-b74a-af2895123ecb,132550,Short Term,718.0,763192.0,4 years,Home Mortgage,Debt Consolidation,12401.87,9.9,20.0,8,0,74309,329692,0.0,0.0
9997,da9870de-4280-46a3-8fc6-91cfe5bfde9d,cc94e25e-1060-4465-b603-194e122f0239,223212,Long Term,NaN,NaN,NaN,Rent,Debt Consolidation,4354.42,27.2,NaN,8,1,99636,568370,1.0,0.0
9998,0cc8e0e0-1bc6-49d7-ad0f-0598b647458f,f90cf410-a34b-49e7-8af9-2b405e17b827,99999999,Short Term,721.0,972097.0,10+ years,Home Mortgage,Debt Consolidation,12232.20,16.8,24.0,8,1,184984,240658,0.0,0.0
9999,14f94b64-26c4-48fd-b916-1388d7adcc1d,f1838fa9-7ad9-44d5-97a6-7a6d3f3529d7,99999999,Short Term,748.0,1079960.0,6 years,Home Mortgage,Debt Consolidation,12239.61,19.7,NaN,14,0,179018,607882,0.0,0.0

In [77]:
credit_test = credit_test.rename(columns = {'Customer ID':'Customer_ID',
                                              'Current Loan Amount':'Current_Loan_Amount','Credit Score':'Credit_Score',
                                              'Annual Income':'Annual_Income','Years in current job':'Years_in_current_job',
                                              'Home Ownership':'Home_Ownership','Monthly Debt':'Monthly_Debt',
                                              'Years of Credit History':'Years_of_Credit_History',
                                              'Months since last delinquent':'Months_since_last_delinquent',
                                              'Number of Open Accounts':'Number_of_Open_Accounts',
                                              'Number of Credit Problems':'Number_of_Credit_Problems',
                                              'Current Credit Balance':'Current_Credit_Balance',
                                              'Maximum Open Credit':'Maximum_Open_Credit','Tax Liens':'Tax_Liens'})

In [58]:
credit_test.loc[credit_test.Current_Loan_Amount > 1000000, 'Current_Loan_Amount'] = credit_test.Current_Loan_Amount.median()

credit_test.loc[credit_test.Credit_Score > 3000, 'Credit_Score'] = credit_test.Credit_Score.median()

credit_test.loc[credit_test.Annual_Income > 400000, 'Annual_Income'] = credit_test.Annual_Income.median()

In [59]:
credit_test.loc[credit_test.Current_Credit_Balance > 10000000, 'Current_Credit_Balance'] = 10000000

credit_test.loc[credit_test.Maximum_Open_Credit > 150000000, 'Maximum_Open_Credit'] = credit_test.Maximum_Open_Credit.median()

In [60]:
credit_test.Annual_Income = credit_test.Annual_Income.fillna(credit_test.Annual_Income.median())
credit_test.Credit_Score = credit_test.Credit_Score.fillna(credit_test.Credit_Score.median())
credit_test.Maximum_Open_Credit = credit_test.Maximum_Open_Credit.fillna(credit_test.Maximum_Open_Credit.median())

In [61]:
credit_test.Years_in_current_job = credit_test.Years_in_current_job.fillna(-100)
credit_test.Months_since_last_delinquent = credit_test.Months_since_last_delinquent.fillna(-100)
credit_test.Bankruptcies = credit_test.Bankruptcies.fillna(-100)
credit_test.Tax_Liens = credit_test.Tax_Liens.fillna(-100)

In [62]:
X_test = credit_test.drop(['Loan_ID', 'Customer_ID'], axis = 1)

In [63]:
X_test = pd.get_dummies(X_test)

In [64]:
X_test.isnull().sum()

Current_Loan_Amount               0
Credit_Score                      0
Annual_Income                     0
Monthly_Debt                      0
Years_of_Credit_History           0
Months_since_last_delinquent      0
Number_of_Open_Accounts           0
Number_of_Credit_Problems         0
Current_Credit_Balance            0
Maximum_Open_Credit               0
Bankruptcies                      0
Tax_Liens                         0
Term_Long Term                    0
Term_Short Term                   0
Years_in_current_job_-100         0
Years_in_current_job_1 year       0
Years_in_current_job_10+ years    0
Years_in_current_job_2 years      0
Years_in_current_job_3 years      0
Years_in_current_job_4 years      0
Years_in_current_job_5 years      0
Years_in_current_job_6 years      0
Years_in_current_job_7 years      0
Years_in_current_job_8 years      0
Years_in_current_job_9 years      0
Years_in_current_job_< 1 year     0
Home_Ownership_HaveMortgage       0
Home_Ownership_Home Mortgage      0
Home_Ownership_Own Home           0
Home_Ownership_Rent               0
Purpose_Business Loan             0
Purpose_Buy House                 0
Purpose_Buy a Car                 0
Purpose_Debt Consolidation        0
Purpose_Educational Expenses      0
Purpose_Home Improvements         0
Purpose_Medical Bills             0
Purpose_Other                     0
Purpose_Take a Trip               0
Purpose_major_purchase            0
Purpose_moving                    0
Purpose_other                     0
Purpose_renewable_energy          0
Purpose_small_business            0
Purpose_vacation                  0
Purpose_wedding                   0
dtype: int64

In [69]:
predictions = pd.DataFrame(clf1.predict(X_test))
predictions = predictions.rename(columns= {0:"Loan Status"})
predictions

     Loan Status
0     Fully Paid
1     Fully Paid
2     Fully Paid
3     Fully Paid
4     Fully Paid
...          ...
9995  Fully Paid
9996  Fully Paid
9997  Fully Paid
9998  Fully Paid
9999  Fully Paid

[10000 rows x 1 columns]

In [78]:
predictions.index = credit_test['Loan ID']
predictions

                                     Loan Status
Loan ID
f738779f-c726-40dc-92cf-689d73af533d  Fully Paid
6dcc0947-164d-476c-a1de-3ae7283dde0a  Fully Paid
f7744d01-894b-49c3-8777-fc6431a2cff1  Fully Paid
83721ffb-b99a-4a0f-aea5-ef472a138b41  Fully Paid
08f3789f-5714-4b10-929d-e1527ab5e5a3  Fully Paid
...                                          ...
c4ab66f9-833c-43b8-879c-4f8bcb64dd14  Fully Paid
bbd3a392-01b4-4e0e-9c28-b2a4a39beac7  Fully Paid
da9870de-4280-46a3-8fc6-91cfe5bfde9d  Fully Paid
0cc8e0e0-1bc6-49d7-ad0f-0598b647458f  Fully Paid
14f94b64-26c4-48fd-b916-1388d7adcc1d  Fully Paid

[10000 rows x 1 columns]

In [79]:
predictions.to_csv('C:\\Users\\monte\\Downloads\\credit_scoring\\predict.csv')